<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- INTERNET también cubre el loopback (127.0.0.1): sin él la app no
         puede hablar con su propio servidor interno de contenido ni
         descargar del Depósito. El uso offline no requiere red externa. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- GPS para "mi ubicación" en el mapa offline + escaneo BLE (Android). -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Prepper Mesh: recibir multicast UDP en la LAN requiere MulticastLock. -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- Prepper Mesh (BLE transport): descubrir y conectar radios Bluetooth
         para chat offline sin router. -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>
    <!-- Android 12+ (API 31) reemplaza los dos anteriores por estos: -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <!-- Prepper Mesh (WiFi Direct transport): P2P sin infraestructura. -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- Android 13+ (API 33): descubrir dispositivos WiFi cercanos (WiFi Direct
         / nearby_connections) sin depender del permiso de ubicación. Sin esto
         el transporte P2P falla en silencio en tablets modernas. -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation"/>
    <!-- Declara que la app solo funciona con BLE (no Bluetooth Classic) para
         que Google Play filtre dispositivos sin él. -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <application
        android:label="Prepper Pad"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
